.payment-form {
  width: 100%;
  display: flex;
}

.payment-form__form-box {
  padding: 50px 70px 50px 12%;
  flex-grow: 1;
  max-width: 50%;
  background-color: white;
}

.payment-form__header {
  margin-bottom: 12px;
}

.payment-form__back-button {
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.payment-form__back-icon {
  font-size: 1.3rem;
}

.payment-form__title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.payment-form__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.payment-form__section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.payment-form__section-title {
  margin-bottom: 8px;
}

.payment-form__pickup-message-box {
  border: 1px solid var(--color-fog-gray);
  background-color: rgb(235, 235, 235);
  padding: 20px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment-form__pickup-message-title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 6px;
}

.payment-form__pickup-message-address {
  font-size: 0.85rem;
  color: rgb(134, 134, 134);
}

.payment-form__order-summary-box {
  padding: 50px 12% 50px 70px;
  flex-grow: 1;
  max-width: 50%;
  background-color: #efefef;
}

.payment-form__submit-button {
  width: 100%;
  padding: 16px;
  background-color: black;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.payment-form__submit-button:hover {
  background-color: var(--color-dark-gray);
}
