:root {
  --lateral-padding: 0 4.5rem;
  --font-family-inter: "Inter", serif;
  --font-family-monserrat: "Montserrat", serif;
  --color-blood-red: #dc3545;
  --color-soft-gray: rgb(220, 220, 220);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-inter);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
